@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/SpaceGroteskVariable.ttf') format("truetype-variations");
}

html {
    min-height: 100%;
    font-family: 'SpaceGrotesk';
    overflow: hidden;
}

body {
    height: calc(100vh - 8em);
    padding: 4em;
}

.line-1 {
    border-right: 2px solid rgb(0,0,0);
    text-align: left;
    overflow: hidden;
    position: relative;
    width: 24em;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 5rem;
    overflow: hidden;
}

/* Typewriter */
.anim-typewriter {
    animation: typewriter 1s steps(22) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from{width: 0;}
    to{width: 6.4em;}
}

@keyframes blinkTextCursor {
    from{border-right-color: rgb(0, 0, 0);}
    to{border-right-color: transparent;}
}